<h1>Tweet by relevance</h1>
<% if @error %>
  <div class="error">
    <%= @error %>
  </div>
<% end %>
<% @tweets.each do |relevance, tweet| %>
  <div class="scores">
    <div>
      <blockquote class="twitter-tweet" lang="en" cards="hidden">
        <b><%= tweet.user.screen_name %></b> <em><%= tweet.created_at %></em>
        <a href="<%= tweet.url %>">Link</a>
      </blockquote>
    </div>
    <div class="fave">
      <div class="favetitle">Favorites</div>
      <div class="favescore"><%= tweet.favorite_count %></div>
    </div>
    <div class="share">
      <div class="sharetitle">Retweets</div>
      <div class="sharescore"><%= tweet.retweet_count %></div>
    </div>
    <div class="age">
      <div class="agetitle">Age</div>
      <div class="agescore"><%= age_in_minutes(tweet.created_at) %></div>
    </div>
    <div class="relevance">
      <div class="relevancetitle">Relevance</div>
     <div class="relevancescore"><%= number_with_precision(relevance) %></div>
    </div>
  </div>
<% end %>
